<html>
<head>
    <title>Midterm Registration</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <h1>DevOPS Midterm Registration</h1>
    <form>
        <p>First Name</p>
        <input type="text" name="" placeholder="Enter First Name">
        <p>Last Name</p>
        <input type="text" name="" placeholder="Enter Last Name">
        <p>UserName</p>
        <input type="text" name="" placeholder="Enter UserName">
        <p>Password</p>
        <input type="text" name="" placeholder="Enter Password">
    </form>
    <button>Save</button>
    <button>Cancel</button>
</body>
</html>